<h1><%= question_header(@question) %></h1>

<%= render @question %>

<h2>Answers</h2>

<%= link_to 'New Answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'Back', admin_test_path(@question.test) %>
</p>