<section class="all-badges">
  <div class="row justify-content-center mt-3">
    <div class="col col-md-4">
      <h1><%= t('.header') %></h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-md-4">
      <div class="btn-default-container">
        <%= button_to t('.new_badge'), new_admin_badge_path, class: 'btn-default btn', method: :get %>
      </div>
    </div>
  </div>

  <%= render 'shared/errors', resource: @badge %>

  <div class="row">
    <div class="col col-md-10">
      <div class="badges-table">
        <header>
          <ul>
            <li><%= t('.name') %></li>
            <li><%= t('.icon_path') %></li>
            <li><%= t('.acqusition_type')%></li>
            <li><%= t('.acqusition_options')%></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </header>
        <div class="badges-table-content">
          <%= render @badges %>        
        </div>
      </div>
    </div>
  </div>
</section>