<footer class="page-footer">
  <div class="navbar fixed-bottom navbar-dark">
    <span class="navbar-text">        
      <%= link_to t('.about'), "/#{I18n.locale}/about" %> |
      <%= link_to t('.author'), "/#{I18n.locale}/author" %>        
    </span>
    <span class="navbar-text">        
      &copy <%= current_year %> Loki <%= github_link('Lokideos', 'test-guru') %> |
      <%= t('.credits') %> <%= link_to('Thinknetica', 'https://www.thinknetica.com', target: '_blank') %>        
    </span>
  </div>
</footer>

