<nav class="navbar navbar-dark">
  <div>
    <%= link_to image_tag("/test-guru-logo.png", height: 40), root_path, class: 'navbar-brand' %>
  </div>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to t('.admin_panel'), admin_tests_path %> |
      <% end %>
      <b><%= t('.greetings', email: current_user.email) %></b> |
      <%= link_to t('common.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('common.login'), new_user_session_path %> |
      <%= link_to t('common.signup'), new_user_registration_path %>
    <% end %>    
  </span>
</nav>