<section class="chosen-answer">
  <div class="row justify-content-center">
    <div class="col col-md-6 mt-3">
      <h2><%= @answer.question.body %></h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-md-6 mt-3">
      <p><%= t('.body', body: @answer.body) %></p>
      <p><%= t('.correct') %> <%= @answer.correct %></p>      
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2 col-md-2 mt-3">
      <div class="btn-default-container">
        <%= button_to t('common.edit'), edit_admin_answer_path(@answer), method: :get, class: 'btn-default btn' %>
      </div>
    </div>
  
    <div class="col-2 col-md-2 mt-3">
      <div class="btn-default-container">
        <%= button_to t('admin.questions.question.destroy'),
                      admin_question_path(@answer.question),
                      method: :delete,
                      data: { confirm: t('data.messages.delete_confirmation') },
                      class: 'btn-default btn' %>    
      </div>
    </div>
  </div>

</section>