<h1><%= t('.header') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.answer_body') %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('.answer_correct') %>:</b>
  <%= @answer.correct %>
</p>

<p>
  <%= link_to t('common.edit'), edit_admin_answer_path(@answer) %>
  <%= link_to t('common.back'), admin_question_path(@answer.question) %>
</p>
