<ul>
  <li><%= test.title %></li>
  <li><%= test.level %></li>
  <li><%= test.questions.count %></li>
  <li>
    <div class="btn-default-container">
      <%= button_to t('common.show'), admin_test_path(test), method: :get, class: 'btn-default btn' %>
    </div>    
  <li>
    <div class="btn-default-container">
      <%= button_to t('common.edit'), edit_admin_test_path(test), method: :get, class: 'btn-default btn' %>
    </div>
  </li>
  <li>
    <div class="btn-default-container">
      <%= button_to t('.destroy'),
                    admin_test_path(test),
                    method: :delete,
                    data: { confirm: t('data.messages.delete_confirmation') },
                    class: 'btn-default btn' %>    
    </div>
  </li>
</ul>
