<section class="chosen-test">
  <div class="row justify-content-center">
    <div class="col col-md-4 mt-3">
      <h1><%= t('.header', title: @test.title) %></h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 col-md-4 mt-3">
      <p><%= t('.title', title: @test.title) %></p>
      <p><%= t('.category', category: @test.category.title) %></p>
      <p><%= t('.level', level: @test.level) %></p>
    </div>
    <div class="col-6 col-md-4 mt-3">
      <div class="btn-default-container">
        <%= button_to t('common.edit'), edit_admin_test_path(@test), method: :get, class: 'btn-default btn' %>
      </div>
  
      <div class="btn-default-container">
        <%= button_to t('admin.tests.test.destroy'),
                      admin_test_path(@test),
                      method: :delete,
                      data: { confirm: t('data.messages.delete_confirmation') },
                      class: 'btn-default btn' %>    
      </div>   
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-md-4 mt-3">
      <div class="btn-default-container">
        <%= button_to t('.create_new_question'), new_admin_test_question_path(@test), method: :get, class: 'btn-default btn' %>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="row justify-content-center">
      <div class="col col-md-10">
        <div class="questions-table">
          <h2 class="questions-table-header"><%= t('.questions') %></h2>
          <header>
            <ul>
              <li><%= t('.questions_body') %></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </header>

          <div class="questions-table-content">
            <%= render @test.questions %>
          </div>
        </div>

        <div class="mt-3">
          <p><%= link_to t('common.back'), admin_tests_path %></p>
        </div>
      </div>
    </div>
  </div>

  
</tr>