<header class="page-header">
  <div class="container clearfix">
    <div class="logo"><img src="/test-guru-logo.png" alt="Test Guru Logo"></div>

    <div class="project-title">
      <%= content_tag :a, content_tag(:h2, 'Test Guru'), class: 'title', href: root_path %>
    </div>

    <div class="nav">
      <% if user_signed_in? %>
        <p class="nav-user"> Welcome, <b><%= current_user.email %></b> Guru</p>
        <%= link_to t('common.logout'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('common.login'), new_user_session_path %>
        <%= link_to t('common.signup'), new_user_registration_path %>
      <% end %>
    </div>
  </div>
</header>