<header class="page-header">
  <div class="container clearfix">
    <div class="logo"><img src="/test-guru-logo.png" alt="Test Guru Logo"></div>

    <div class="project-title">
      <%= content_tag :a, content_tag(:h2, 'Test Guru'), class: 'title', href: root_path %>
    </div>

    <div class="nav">
      <% if logged_in? %>
        <p class="nav-user"> Welcome, <b><%= current_user.name %></b> Guru</p>
        <%= link_to 'Log out', session_path(session[:user_id]), method: :delete %>
      <% else %>
        <%= link_to 'Log in', login_path %>
        <%= link_to 'Sign up', signup_path %>
      <% end %>
    </div>
  </div>
</header>