<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="page-header">
      <div class="container">
        <div class="logo"><img src="/test-guru-logo.png" alt="Test Guru Logo"></div>
      </div>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container clearfix">
        <copyright class="footer-copyright">
          &copy <%= current_year %> Loki <a href=<%= github_link('Lokideos', 'test-guru') %> target="_blank">Test-Guru</a>
          <p>Учебный проект в онлайн-школе <a href="https://www.thinknetica.com" target="_blank">Thinknetica</a></p>
        </copyright>
      </div>
    </footer>
  </body>
</html>
